<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<script>
					document.write(new Date().getFullYear())
				</script>
				MyFactory.
			</div>
			<div class="col-sm-6">
				<div class="text-sm-end d-none d-sm-block">
					Développé par
					<a href="https://newdevcreator.netlify.app" target="_blank" class="text-primary" style="--bs-text-opacity: .5;">Newdevcreator</a>
				</div>
			</div>
		</div>
	</div>
</footer>
