<form method="post" action="{{ path('client_delete', {'client': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('client_delete_' ~ client.id) }}">
	<button class="btn">Delete</button>
</form>
