<form method="post" action="{{ path('order_delete', {'order': order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('order_delete_' ~ order.id) }}">
	<button class="btn">Delete</button>
</form>
